:root {
    --cor-de-fundo: #0B0A14;
    --branco-principal: #FFFFFF;
    --botao-azul: #167BF7;
    --cinza-secundario: #C0C0C0;
    --fonte-principal: Inter;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal {
    background-image: url(../img/Gemini_Generated_Image_6vg74t6vg74t6vg7\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;

}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.container_caixa {
    margin: 0 10rem;
}

.container_titulo {
    font-size: 1.75rem;
}

.container_imagem {
    margin: 1rem 0 2rem 0;
}

.container_botao {
    background-color: var(--botao-azul);
    border-radius: 0.5rem;
    color: var(--branco-principal);
    padding: 1rem;
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
}

.container_botao--secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.secundario {
    align-items: center;
    margin: 0 10rem;
}

.secundario_imagem {
    width: 70%;
}

.container_descricao {
    padding: 2rem;
}

.descricao_titulo {
    color: var(--branco-principal);
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.1rem;
}

.descricao_texto {
    color: var(--cinza-secundario);
}

.secundario_botao {
    margin-top: 1.5rem;
    display: inline-block;
}

.dispositivos {
    text-align: center;
}

.dispositivos_titulo {
    font-size: 3rem;
}

.dispositivos_lista {
    display: flex;
    list-style: none;
    justify-content: center;
}

.lista_item {
    font-size: 2rem;
    color: var(--branco-principal);
}